<label class="field flex flex-col gap-2xs">
	<span class="label"><%= label %></span>
	<input
		class="border p-xs"
		type="<%= locals.type ?? 'text' %>"
		name="<%= name %>"
		placeholder="<%= locals.placeholder %>"
    maxlength="<%= locals.maxLength %>"
		<%- locals.isRequired ? 'required' : '' %>
		autocomplete=<%= locals.autocomplete ?? 'off' %>
	>
</label>
