<!doctype html>
<html lang="en">
	<%- include('partials/metadata', locals.title) %>
	<body>
		<div id="root">
			<%- include('partials/navbar') %>
			<main>
				<% if (locals.user != null) { %>
					<p>Welcome, <%= user.full_name %>!</p>

					<% if (!user.is_member) { %>
						<p>
							<a href="/join-the-club">Join the club</a>
							to see usernames and dates.
						</p>
        	<% } %>
				<% } %>

				<ul>
					<% for (const post of posts) { %>
						<li><%- include('partials/post', { post }) %></li>
					<% } %>
				</ul>
			</main>
			<%- include('partials/footer') %>
		</div>
	</body>
</html>
